ion-content {
    --background: #fbfbfb;
    --padding-top: calc(80px + 45px);
    .home {
        padding: 0 20px;
        .list-item{
            .item-stories{
                display: flex;
                padding: 15px 0;
                border-bottom: 2px solid #EEEEEE;
                img{
                    object-fit: cover;
                    
                    @media screen and (max-height: 569px) {
                        flex-basis: 33%;
                    }
                }
                .stories-info{
                    flex-basis: 50%;
                    padding-left: 10px;
                    @media screen and (max-height: 569px) {
                        flex-basis: 67%;
                    }
                    .stories-title{
                        color: #002D63;
                        font-size: 16px;
                        font-weight: 500;
                        @media screen and (max-height: 569px) {
                            font-size: 14px!important;
                        }
                    }
                    .stories-content{
                        margin: 0;
                        margin-top: 15px;
                        color: #525252;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}