<ion-header>
  <app-header [headerCustom]="headerCustom"></app-header>
</ion-header>

<ion-content>
  <app-search-bar-nav></app-search-bar-nav>

  <ion-item-group class="home">
    <ion-item-group class="list-item">
      <ion-item-group *ngFor='let in of counter(5)' class="item-stories" (click)="goToStoryDetail()">
        <img src="assets/img/stories/anh1.svg" alt="">
        <ion-item-group class="stories-info">
          <ion-label text-wrap class="stories-title">FRANCISCUS, S.J.
            Giáo hoàng Phanxicô</ion-label>
          <p class="stories-content three-dots-5">
            - Lên ngôi ngày 13 tháng 3
            năm 2013 đến nay.
            - Người Mỹ La Tinh, Nam Mỹ,
            Argentina và tu sĩ Dòng Tên
            đầu tiên làm Giáo hoàng ... </p>
        </ion-item-group>

      </ion-item-group>
    </ion-item-group>
  </ion-item-group>

</ion-content>