<!-- <ion-content class="ion-padding">
  <ion-buttons>
    <ion-label class="slide__skip" (click)="Skip()">
      Skip
    </ion-label>
  </ion-buttons>
    <img [src]="image" alt="" class="slide__image">
    <ion-label class="slide__title">
     {{title}}
    </ion-label>
    <ion-button class="slide__btn-next"(click)="goNext()">
        {{label}}
    </ion-button>
    <ion-item-group class="slide__group-circle">
      <ion-label [style.background]="clicked == 0? '#00B0B2': '#DBDBDB'" (click)="gottoSlide1()">
       
      </ion-label>
      <ion-label [style.background]="clicked == 1? '#00B0B2': '#DBDBDB'" (click)="gottoSlide2()">
        
      </ion-label>
      <ion-label [style.background]="clicked == 2? '#00B0B2': '#DBDBDB'" (click)="gottoSlide3()">
        
      </ion-label>
    </ion-item-group>
</ion-content> -->
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-buttons>
    <ion-label class="slide__skip" (click)="Skip()">
      Skip
    </ion-label>
  </ion-buttons>  
  <ion-slides #mySlider pager="true" [options]="slideOpts">
    <ion-slide id="slide1">
        <img src="assets/img/slide1.svg"/>
        <ion-label class="slide__title">
          Service and Event
         </ion-label>
         <ion-button class="slide__btn-next"(click)="goNext()">
          NEXT
      </ion-button>
      
    </ion-slide>
    <ion-slide id="slide2">
      <img src="assets/img/slide2.svg"/>
      <ion-label class="slide__title">
        Shopping food
       </ion-label>
       <ion-button class="slide__btn-next"(click)="goNext()">
        NEXT
    </ion-button>
    <!-- <ion-item-group class="slide__group-circle">
      <ion-label [style.background]="clicked == 0? '#00B0B2': '#DBDBDB'" (click)="gotoSlide1()">
       
      </ion-label>
      <ion-label [style.background]="clicked == 1? '#00B0B2': '#DBDBDB'" (click)="gotoSlide2()">
        
      </ion-label>
      <ion-label [style.background]="clicked == 2? '#00B0B2': '#DBDBDB'" (click)="gotoSlide3()">
        
      </ion-label>
    </ion-item-group> -->
  </ion-slide>

  <ion-slide id="slide3">
    <img src="assets/img/slide3.svg"/>
    <ion-label class="slide__title">
      <!-- {{title}} -->
      Find your Chabad
     </ion-label>
     <ion-button class="slide__btn-next"(click)="Skip()">
      <!-- {{label}} -->
      START
  </ion-button>
  
  
</ion-slide>
<!-- <ion-item-group class="slide__group-circle">
  <ion-label [style.background]="clicked == 0? '#00B0B2': '#DBDBDB'" (click)="goNext()">
   
  </ion-label>
  <ion-label [style.background]="clicked == 1? '#00B0B2': '#DBDBDB'"(click)="goNext()">
    
  </ion-label>
  <ion-label [style.background]="clicked == 2? '#00B0B2': '#DBDBDB'" (click)="goNext()">
    
  </ion-label>
</ion-item-group> -->
  </ion-slides>
</ion-content>