.text {
  color: #525252;
  font-size: 12px;
  font-weight: 300;
}

ion-content {
  --padding-top: calc(80px + 45px);
  --padding-start: 16px;
  --padding-end: 16px;
}

.main-news {
  position: relative;
  height: 60vw;
  border-radius: 8px;
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;

  .item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#424242, 0.5);
    padding: 10px 5px 5px;
    z-index: 1;
    color: #fff;

    .item-title {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      text-align: left;
    }

    .right-box {
      flex-direction: column;
      align-items: flex-end;
      color: #fff;

      .time-box {
        justify-content: flex-end;
        width: 120px;
      }
    }
  }
}

.sub-news {
  padding-top: 10px;

  .sub-news-item {
    padding: 20px 10px;
    align-items: stretch;
    border-radius: 8px;
    transition: .15s;

    &:active {
      background: rgb(240, 240, 240);
    }
    
    &:not(:first-child) {
      border-top: 1px solid #eee;
    }

    .img-container {
      width: 35%;
      height: 75px;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .content-box {
      width: 65%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: 10px;

      .item-title {
        color: #002D63;
        font-size: 14px;
        margin: 0;
        text-align: left;
      }

      .bottom-box {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}