<ion-header>
  <app-header [headerCustom]="headerCustom"></app-header>
</ion-header>

<ion-content>
  <app-search-bar-nav></app-search-bar-nav>

  <div *ngIf="news.length" class="main-news" (click)="goToNewsDetail(news[0])">
    <img class="item-img" [src]="news[0].thumb_images[0].url">

    <ion-buttons class="text-box">
      <p class="item-title three-dots-2">{{ news[0].title }}</p>
      <ion-buttons class="right-box text">
        <ion-buttons>
          <ion-icon name="eye"></ion-icon>
          <ion-label>{{ news[0].views }}</ion-label>
        </ion-buttons>
        <ion-buttons class="time-box">
          <ion-icon name="time"></ion-icon>
          <ion-label>{{ news[0].time }}</ion-label>
        </ion-buttons>
      </ion-buttons>
    </ion-buttons>
  </div>

  <ion-list class="sub-news">
    <ng-container *ngFor="let item of news; let index = i;">
      <ion-buttons *ngIf="index != 0" class="sub-news-item" (click)="goToNewsDetail(item)">
        <div class="img-container">
          <img [src]="item.thumb_images[0].url">
        </div>

        <ion-buttons class="content-box">
          <p class="item-title three-dots-3">{{ item.title }}</p>
          <ion-buttons class="bottom-box text">
            <ion-buttons>
              <ion-icon name="time"></ion-icon>
              <ion-label>{{ item.time }}</ion-label>
            </ion-buttons>
            <ion-buttons>
              <ion-icon name="eye"></ion-icon>
              <ion-label>{{ item.views }}</ion-label>
            </ion-buttons>
          </ion-buttons>
        </ion-buttons>
      </ion-buttons>
    </ng-container>
  </ion-list>
</ion-content>