<ion-content>
  <div class="bg"></div>
  <div class="drop-back"></div>
  <ion-back-button icon="chevron-back-outline" text="" class="back-btn"></ion-back-button>
  <ion-buttons class="top-block">
    <h1 class="title">Quên mật khẩu</h1>
    <p class="desc">
      Chúng tôi sẽ gửi mã xác minh đến email của bạn
      <br>Hãy nhập email của bạn phía dưới
    </p>
    <img src="assets/icon/forget-password.svg">
  </ion-buttons>
  
  <ion-buttons class="bottom-block">
    <p class="label-bottom">Email của bạn:</p>
    <input class="input-tel" (keyup)="getEmail($event)">
    <ion-buttons class="get-code-container">
      <!-- <span class="get-code-label">Get code</span> -->
      <ion-icon name="chevron-forward-outline" class="get-code-icon" (click)="goToVerification()"></ion-icon>
    </ion-buttons>
  </ion-buttons>
</ion-content>