<div class="box">
  <div class="heading-box">
    <ion-label>{{ data.heading }}</ion-label>
  </div>

  <ion-slides pager="true" [options]="slideOptions">
    <ion-slide *ngFor="let item of data.items" class="item">
      <div class="item-inner main-box-shadow" (click)="goToItemDetail(item)">
        <img class="item-img" [src]="item.thumb_images[0].url">
        <div class="item-title-container">
          <p class="item-title three-dots-2">{{ item.title }}</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="see-more-box">
    <ion-label class="active-effect" (click)="seeMore()">Xem thêm >></ion-label>
  </div>
</div>