<ion-back-button icon="chevron-back-outline" text="" class="back-btn"></ion-back-button>
<ion-item-group class="header">
  <ion-label>Xin lễ</ion-label>
</ion-item-group>
<ion-content class="ion-padding">
  <form [formGroup] ="frmPray" (ngSubmit)="onSubmit()" >
    <ion-item-group class="wrapper">
  <ion-item-group class="title">
    <span class="header__name">{{name_diocese}}</span>
    <ion-item-group class="header__group-address">
      <img src="assets/img/address.svg" alt="">
      <span class="header__address">
       {{address}}
      </span>
    </ion-item-group>
      <!-- <img src="assets/img/bgdonate.jpg" alt="" class="image"> -->
      <div [style.background]="getUrl()"  class="bg"></div>
      <ion-item-group class="header__group-address mr-top">
        <img src="assets/img/user_img.svg" alt="">
        <span class="header__title-user">
          Linh mục Ignatiô Hồ Văn Xuân
        </span>
      </ion-item-group>
  </ion-item-group>
 <ion-item-group class="group__donate">
    <ion-label>Số tiền đóng góp:</ion-label>
    <ion-item-group>
      <ion-img src="assets/img/pen.svg" class="group__donate-pen--edit"></ion-img>
      <ion-img src="assets/img/dola.svg"></ion-img>
      <input type="number" formControlName ="amount" class="group__donate-amount">
      <ion-label>VND</ion-label>
    </ion-item-group>
    <span class="require" *ngIf="required_mess">
      {{message}}
  </span>
    <ion-item-group class="group__purpose">
      <ion-img src="assets/img/pen.svg" class="group__donate-pen--edit2"></ion-img>
      <ion-label class="group__purpose-label">Mục đích:</ion-label>
      <textarea placeholder="Ghi chú thêm thông tin..."  formControlName="note" ></textarea>
    </ion-item-group>
    <ion-label class="require" *ngIf="required_purpose">
      {{message_purpose}}
    </ion-label>
 </ion-item-group>

 <ion-label class="donate__other" (click)="goToDioceses()">Đóng góp giáo xứ khác?</ion-label>
</ion-item-group>
<ion-item-group class="footer">
  <ion-avatar>
    <img [src] ="avatar" alt="" *ngIf="avatar">
    <img src="assets/img/avatar.png" alt=""*ngIf="!avatar">
    <ion-spinner *ngIf="!avatar" class="absolute-center" name="lines"></ion-spinner>
  </ion-avatar>
  <ion-item-group>
    <span>
     {{name}}
    </span>
   <ion-button type="submit"  [disabled] ="frmPray.invalid">
     Xác nhận
   </ion-button>
  </ion-item-group>

</ion-item-group>
</form>
</ion-content>
