<ion-header>
  <app-header [headerCustom]="headerCustom"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <div class="item">
      <div class="title">Thông tin tổng giáo phận</div>
      <div class="img-box main-box-shadow">
        <img class="cover-img" [src]="archdiocese.thumb_image.url">
      </div>
    </div>
    <div class="item">
      <div class="title">Thông tin các giáo xứ</div>
      <div class="img-box main-box-shadow">
        <img class="cover-img" [src]="archdiocese.thumb_image.url">
      </div>
    </div>
    <!-- <app-main-slide *ngFor="let item of list" [data]="item"></app-main-slide> -->
  </ion-list>
</ion-content>