<ion-content>
  <ion-back-button icon="chevron-back-outline" text="" class="back-btn"></ion-back-button>
  <div class="header">
    <ion-label> YOUR PAYMENT</ion-label>
  </div>
  <ion-item-group class="ion-padding">
    <ion-label class="title">
      Amount Payment:
     </ion-label>
     <ion-label class="content">
      {{amount}} $
     </ion-label>
     <ion-label class="title">
     Purpose:
     </ion-label>
     <span class="content">
      {{purpose}}
     </span>
    <form  (ngSubmit)="showStripe()">
      <ion-button type="submit" >Make payment</ion-button>
    </form>
    <!-- [disabled]="data.donation.token == '' ? 'true':'false'" -->
  </ion-item-group>
 
</ion-content>

