<ion-content>
  <img src="assets/img/jesus.jpg" alt="" />

  <div class="body">
    <ion-segment (ionChange)="changedSegment($event)" value="login" swipeGesture="false" mode="ios">
      <ion-segment-button value="login">
        <ion-label>Đăng Nhập</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signUp">
        <ion-label>Đăng Ký</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="group" [ngClass]="{'display-none': segmentValue != 'login'}">
      <form class="form" [formGroup]="formLogin">
        <div class="margin-bottom">
          <ion-label class="label">Nhập số điện thoại</ion-label>
          <input class="input" type="text" formControlName="phone_number">
          <ng-container *ngFor="let validation of validationLoginMessages.phone_number">
            <div class="error-message"
              *ngIf="formLogin.get('phone_number').hasError(validation.type) && (formLogin.get('phone_number').dirty || formLogin.get('phone_number').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom password">
          <ion-label class="label">Mật Khẩu</ion-label>
          <input class="input" type="{{type}}" formControlName="password">
          <ion-icon name="{{name}}" (click)="showPass()" ></ion-icon>
          <ng-container *ngFor="let validation of validationLoginMessages.password">
            <div class="error-message"
              *ngIf="formLogin.get('password').hasError(validation.type) && (formLogin.get('password').dirty || formLogin.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div class="ion-text-right">
          <ion-label class="forgot-password-btn" (click)="clickForgotPassword()">Quên mật khẩu?</ion-label>
        </div>
        <div class="ion-text-right">
          <ion-button class="submit-btn" type ="submit" (click)="submitLogin()">
            <img src="assets/img/next.svg" alt="">
            <ion-spinner *ngIf="showSpinner"></ion-spinner>
          </ion-button>

        </div>
      </form>
    </div>

    <div class="group" [ngClass]="{'display-none': segmentValue != 'signUp'}">
      <form class="form" [formGroup]="formSignUp">
        <div class="margin-bottom">
          <ion-buttons class="row-1">
            <div class="name-box">
              <ion-label class="label">Họ Và Tên</ion-label>
              <input class="input" formControlName="full_name">
            </div>
            <div class="gender-box">
              <ion-label class="label">Giới tính</ion-label>
              <ion-select mode='ios' class="input" formControlName="sex" value="male">
                <ion-select-option value="male">Nam</ion-select-option>
                <ion-select-option value="female">Nữ</ion-select-option>
                <ion-select-option value="other">Khác</ion-select-option>
              </ion-select>
            </div>
          </ion-buttons>

          <ng-container *ngFor="let validation of validationSignUpMessages.full_name">
            <div class="error-message"
              *ngIf="formSignUp.get('full_name').hasError(validation.type) && (formSignUp.get('full_name').dirty || formSignUp.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="margin-bottom">
          <ion-buttons class="row-1">
            <div class="phone-number-box">
              <ion-label class="label">Số điện thoại</ion-label>
              <ion-buttons class="phone-number-body">
                +
                <ion-select mode='ios' [selectedText]="code" value=""formControlName="country_code"  [(ngModel)]="code" class="select country-code-select">
                  <ion-select-option [value]="country.phone_code" *ngFor="let country of country_codes">
                    {{country.phone_code}}</ion-select-option>
                </ion-select>
                <!-- <ion-label class="country-code">+{{ formSignUp.value.country_code }}</ion-label> -->
                <!-- <ion-label class="country-code">+84</ion-label> -->
                <input class="input" formControlName="phone_number">
              </ion-buttons>
            </div>
            <div class="age-box">
              <ion-label class="label">Năm Sinh</ion-label>
              <ion-datetime formControlName="age" class="input" displayFormat="YYYY" min="1900" max="2021" ></ion-datetime>
            </div>
          </ion-buttons>

          <ng-container *ngFor="let validation of validationSignUpMessages.phone_number">
            <div class="error-message"
              *ngIf="formSignUp.get('phone_number').hasError(validation.type) && (formSignUp.get('phone_number').dirty || formSignUp.get('phone_number').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validationSignUpMessages.age">
            <div class="error-message"
              *ngIf="formSignUp.get('age').hasError(validation.type) && (formSignUp.get('age').dirty || formSignUp.get('age').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        
        <div class="margin-bottom">
          <ion-label class="label">Email</ion-label>
          <input class="input" type="email" formControlName="email">
          <ng-container *ngFor="let validation of validationSignUpMessages.email">
            <div class="error-message"
              *ngIf="formSignUp.get('email').hasError(validation.type) && (formSignUp.get('email').dirty || formSignUp.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

    

       <div class="margin-bottom">
          <ion-label class="label">Địa chỉ</ion-label>
          <!-- <ion-buttons>
            <ion-select mode='ios' class="select country-code-select" formControlName="country_code" value="84">
              <ion-select-option [value]="country.phone_code" *ngFor="let country of country_codes">
                {{country.country}}</ion-select-option>
            </ion-select>
            <ion-select mode='ios' class="select province-select" formControlName="province" value="Ho Chi Minh">
              <ion-select-option value="Ho Chi Minh">Ho Chi Minh</ion-select-option>
            </ion-select>
            <ion-select mode='ios' class="select" formControlName="district" value="Thu Duc">
              <ion-select-option value="Thu Duc">Thu Duc</ion-select-option>
              <ion-select-option value="Tan Binh">Tan Binh</ion-select-option>
              <ion-select-option value="Binh Thanh">Binh Thanh</ion-select-option>
            </ion-select>
          </ion-buttons>  -->

          <input class="input address-input" type="text" formControlName="full_address">
          <!-- <ng-container *ngFor="let validation of validationSignUpMessages.province">
            <div class="error-message"
              *ngIf="formSignUp.get('province').hasError(validation.type) && (formSignUp.get('province').dirty || formSignUp.get('province').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validationSignUpMessages.district">
            <div class="error-message"
              *ngIf="formSignUp.get('district').hasError(validation.type) && (formSignUp.get('district').dirty || formSignUp.get('district').touched)">
              {{ validation.message }}
            </div>
          </ng-container> -->
          <ng-container *ngFor="let validation of validationSignUpMessages.full_address">
            <div class="error-message"
              *ngIf="formSignUp.get('full_address').hasError(validation.type) && (formSignUp.get('full_address').dirty || formSignUp.get('full_address').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
         
        </div> 
        <ion-label class="label">Giáo phận</ion-label>
        <!--  [selectedText]="tagret" [(ngModel)]="tagret" -->
        <ion-select mode='ios' class="select mr-bottom" formControlName="dioceses"  (ionChange)="onSelectChange($event)">
          <ion-select-option value="{{item.id}}" *ngFor="let item of listDioceses">
            {{item.name}}
          </ion-select-option>
        </ion-select>
        <ng-container *ngFor="let validation of validationSignUpMessages.dioceses">
          <div class="error-message"
            *ngIf="formSignUp.get('dioceses').hasError(validation.type) && (formSignUp.get('dioceses').dirty || formSignUp.get('dioceses').touched)">
            {{ validation.message }}
          </div>
       </ng-container>
        <ion-label class="label">Giáo xứ</ion-label>
        <ion-select mode='ios' class="select mr-bottom" formControlName="parish_id">
          <ion-select-option  [value]="item.id" *ngFor="let item of listParishes">
            {{item.name}}
          </ion-select-option>
          </ion-select>
        <div class="margin-bottom">
          <ion-label class="label">Mật Khẩu</ion-label>
          <input class="input" type="password" formControlName="password">
          <ng-container *ngFor="let validation of validationSignUpMessages.password">
            <div class="error-message"
              *ngIf="formSignUp.get('password').hasError(validation.type) && (formSignUp.get('password').dirty || formSignUp.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container>
            <div class="error-message"
              *ngIf="formSignUp.get('password').value.length > 0 && formSignUp.get('password').value.length < 6 && (formSignUp.get('password').dirty || formSignUp.get('password').touched)">
              {{ validationSignUpMessages.password[1].message }}
            </div>
          </ng-container>
        </div>

        <div class="margin-bottom">
          <ion-label class="label">Xác nhận mật khẩu</ion-label>
          <input class="input" type="password" formControlName="confirmed_password">
        </div>
        <div class="ion-text-right">
          <ion-button class="submit-btn"type ="submit" (click)="submitSignUp()">
            <img src="assets/img/next.svg" alt="">
            <ion-spinner *ngIf="showSpinner"></ion-spinner>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>