
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --main-color: #F6C33E;
  --second-color: #CC9D3E;
  --third-color: #f1c56b;
  --title-color: #717171;
  --gray-color: #e5e5e5;
  --gray-color8a: #8A8A8A;
  --white-color: #fff;
  --black-color: #000;
}
.active-effect {
  transition: 0.15s;
  
  &:active {
    transform: scale(0.95);
    // filter: brightness(90%);
  }
}

.visibility-hidden {
  visibility: hidden;;
}

.opacity-none {
  opacity: 0;
}

.display-none {
  display: none;
}

.over-flow-hidden {
  overflow: hidden;
}

.over-flow-hidden-ion {
  --overflow: hidden;
}
.modal__payment {
  --height: 380px;
  .modal-wrapper {
    border-radius: 17px;
}
}
.back-btn {
  display: inline-block;
  color: #C8C8C8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);

  &::part(native) {
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid;
    border-radius: 50%;
  }
}

.two-lines {
  height: 45px;
  padding: 17px;
  position: absolute;
  top: 17px;
  right: 0;
}

.main-box-shadow {
  box-shadow: 0 4px 4px rgba(#000, 0.25);
}

.three-dots-1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.three-dots-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-dots-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-dots-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.three-dots-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-wrapper {
  background-size: cover;
  background-position: center center;
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line {
  width: 40px;
  height: 3px;
  background: #bdbdbd;
  display: inline-block;
  border-radius: 12px;
}

.event-detail-modal {
  padding-top: 79px;

  .modal-shadow.sc-ion-modal-ios {
    top: 79px;
  }

  .modal-wrapper {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.spinner-max {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal__logout {
    --height: 200px;
    .modal-wrapper {
        position: absolute;
        bottom: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}
.modalPassword {
  --height: 450px;
  --width: 92%;
    .modal-wrapper {
      border-radius: 20px;
   }
}

.modalFood {
  --height: 170px;
  --width: 300px;
  .modal-wrapper {
    border-radius: 20px;
  }
}

.modalEditAvatar {
  --height: 200px;
  --width: 90%;
  .modal-wrapper {
    border-radius: 20px;
  }
}
.modalMenu {
  --height: 400px;
  --width: 90%;
  --overflow: hidden;
  .modal-wrapper {
    border-radius: 20px;
  }
}
.modalDonate {
  --height: 200px;
  --width: 90%;
  --overflow: hidden;
  .modal-wrapper {
    border-radius: 20px;
  }
}

.app-header-custom {
  .header {
    background: transparent !important;
    color: #fff !important;

    .back-btn {
      color: #fff !important;
    }
  }
}

.nav-bar-custom {
  img {
    right: 60px !important;
  }
  .search-bar-container {
    padding-right: 52px !important;
  }
}

.add-store-modal {
  --height: 330px;
  
  .modal-wrapper {
    overflow: visible;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .ion-page {
      justify-content: flex-start;
      overflow: visible;
      padding-top: 10px;
    }
  }
}
.image_popover_css {
  // --backdrop-opacity: 1 !important;
  .popover-content {
    top: 12vh !important;
    --min-width: 90%;
    --min-height: 30%;
 }
}

.google-map-modal {
  --height: 90%;

  sc-ion-modal-ios {
    display: none;
  }

  .modal-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .ion-page {
      justify-content: flex-start;
    }
  }
}