ion-content {
    --padding-top: calc(80px + 7px);
    --padding-left: 16px;
    --background: #E5E5E5;
}
.header {
    background: #E5E5E5 !important;
}
.news {
    padding: 16px;
    background: #E5E5E5;
   
    &__title {
      color: #424242;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: block;
    }
  
    &__content {
      overflow-x: auto;
      flex-wrap: nowrap;
  
      .main-news {
        position: relative;
        height: 69vw;
        border-radius: 20px;
        overflow: hidden;
        border-bottom: 1px solid #eeeeee;
        padding: 0;
        // border: 1px solid #0000002b;
  
        &:not(:last-child) {
          margin-right: 10px;
        }
  
        .item-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  
        .text-box {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(#424242, 0.5);
          padding: 10px 5px 5px;
          z-index: 1;
          color: #fff;
          .item-title {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            text-align: left;
          }
        }
      }
    }
  }
  ion-segment {
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 25%);
    ion-segment-button {
      --background: white;
      --color: #bbbbbb;
      --background-checked: var(--main-color)!important;
      --indicator-box-shadow: inset 3px 4px 4px #d2a635;
      --color-checked: white;
      --indicator-color : transparent!important; 
      height: 30px;
      font-weight: 500;
      text-transform: none;
      border: 2px solid var(--white-color);
      width: 50%;
      font-size: 14px;
    }
    .intro {
        
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: none;
    }
    .biography {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: none;

    }
  }
  ion-item-group {
    display: block;
    text-align: center;
    .bg {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        border-radius: 20px;
        height: 216px !important;
        margin-bottom: 14px;
      }
    ion-label {
        font-size: 16px;
        margin-bottom: 10px;
        color: #002D63;
      }
      span {
          display: flex;
          text-align: left;
          color: #828282;
      }
  }
