  <ion-header>
    <app-header [headerCustom]="headerCustom"></app-header>
  </ion-header>
<ion-content>
  <div class="news">
    <ion-row class="news__content">
      <ion-col class="main-news active-effect" size="8" *ngFor="let item of news" (click)="goToNewsDetail(item)">
        <img class="item-img" [src]="item.thumbImage">
        <ion-buttons class="text-box">
          <p class="item-title three-dots-2">{{ item.title }}</p>
        </ion-buttons>
      </ion-col>
    </ion-row>
</div>
<ion-segment value="intro">
  <ion-segment-button value="intro" class="intro"(click)="clickIntro()" >
    <ion-label>Giới thiệu Giáo xứ</ion-label>
  </ion-segment-button>
  <ion-segment-button value="biography" class="biography" (click) ="clickBiography()">
    <ion-label>Tiểu sử các Linh Mục</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-item-group class="segement-news ion-padding">
    <ion-label>Giáo xứ Đức Mẹ Hằng Cứu Giúp </ion-label>
    <div [style.background] = "getUrl()" class="bg"></div>
    <span>Giáo xứ ĐMHCG được thành lập vào năm 1963, 
      đến nay (2013) vừa tròn 50 năm, và được kể là một Giáo xứ non trẻ so
       với các Giáo xứ kỳ cựu của Giáo phận Sài Gòn, nhất là hai trong các giáo xứ mẹ: Giáo xứ Chợ Đũi, thành lập năm 1859 (cách nay 154 năm) và Giáo xứ Tân Định, thành lập năm 1860 (cách nay 153 năm).</span>
</ion-item-group>
</ion-content>
