<div class="menu-main ">
  <div class="ion-page " id="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
      </ion-toolbar>
    </ion-header>
  </div>
  
  
</div>
<ion-menu side="start" content-id="main-content">
  <ion-header class="header-menu">
    <ion-toolbar translucent>
      <ion-title>Tin Tức</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ul class="list-menu">
      <li>
        <ion-label text-wrap class="item-text">Hội Thánh</ion-label>
      </li>
      <li>
        <ion-label text-wrap class="item-text">Hội Thánh</ion-label>
      </li>
      <li>
        <ion-label text-wrap class="item-text">Hội Thánh</ion-label>
      </li>
      <li>
        <ion-label text-wrap class="item-text">Hội Thánh</ion-label>
      </li>
    </ul>
  
  </ion-content>
</ion-menu>
