ion-content {
    .ion-label {
        font-size: 18px;
        color: #666666;
        font-weight: 600;
    }
    ion-item-group {
        margin-top: 53px;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
    }
    ion-item-group {
        ion-label {
            min-width: 160px;
            height: 38px;
            color: var(--white-color);
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 15px;
            font-size: 18px;
            @media screen and (max-height: 569px) {
                min-width: 140px;
            }
        }
        .btn-cancel {
            background: var(--main-color)
        }
        .btn-agreement {
            background: var(--main-color);
        }
    }
   
  
}