<ion-content>
  <ion-icon class="icon-close" (click)="closeModal()" name="close-outline"></ion-icon>
  <ion-item-group class="list-menu">
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    <ion-label text-wrap>
      HỘI THÁNH
    </ion-label>
    
  </ion-item-group>
</ion-content>
