<ion-content>
  <img src="assets/img/bg.jpg" alt="" class="image__background">
  <ion-label class="over_lay">
  </ion-label>
  <ion-item-group class="location__total">
    <img src="assets/icon/logo.svg" class="img__logo">
    <ion-item-group class="location">
      <ion-item-group class="location__wrapper">
        <ion-label  class="your__location">Your Location</ion-label>
        <ion-label class="your__select">
          <ion-label class="your__select-country">Viet Nam</ion-label>
          <ion-label class="your__select-flat">
            <img src="assets/img/flag-400.png" alt="" class="">
            <ion-select >
             <ion-select-option value="f">Viet Nam</ion-select-option>
             <ion-select-option value="m">Singapore</ion-select-option>
           </ion-select>
          </ion-label>
        </ion-label>
      </ion-item-group>
    </ion-item-group>
  </ion-item-group>
</ion-content>
