<ion-content [style.--padding-top]="paddingTopIonContent()">
  <ion-back-button icon="chevron-back-outline" text="" class="back-btn"></ion-back-button>

  <div class="fixed">
    <div class="img-container main-box-shadow">
      <img [src]="parish.thumbImage">
    </div>

    <ion-label class="parish-name">{{ parish.name }}</ion-label>

    <ion-buttons class="date-list">
      <ion-buttons *ngFor="let dateItem of dateList" class="date-item main-box-shadow active-effect"
        [ngClass]="{'active-date-item': activeDateItemId == dateItem.id}" (click)="changeSegment(dateItem.id)">
        <span class="date-text">{{ dateTimeService.VIETNAMESE_DAYS[dateItem.date.getDay()].substring(0, 3)}}</span>
        <span>{{ dateItem.date.getDate() }}</span>
        <span *ngIf="dateItem.events.length" class="circle date-item-note" [style.background]="dateItem.color"></span>
      </ion-buttons>
    </ion-buttons>
  </div>

  <ion-slides #slides [options]="slideOptions" (ionSlideDidChange)="changeSegmentSlide()"
    (ionSlideWillChange)="scrollToTop(300)">
    <ion-slide *ngFor="let dateItem of dateList">

      <div class="body-header">
        <ion-label>{{ dateTimeService.getDateString3(dateItem.date) }}</ion-label>
        <ion-label *ngIf="dateItem.events.length" class="item-name">{{ dateItem.name }}</ion-label>
      </div>

      <div *ngIf="!dateItem.events.length" class="empty-list-text">Không có giờ lễ</div>

      <ion-list class="event-list">
        <div *ngFor="let event of dateItem.events" class="event active-effect"
          (click)="goToEventDetail(dateItem, event)">
          <ion-label class="event-name">{{ event.name }}</ion-label>
          <ion-label class="event-time">{{ dateTimeService.getTimeString(event.start_time) }}</ion-label>
          <ion-buttons class="ion-align-items-end ion-justify-content-between">
            <ion-text class="three-dots-2 event-text">{{ event.description }}</ion-text>
            <img src="assets/icon/three-dots-gray.svg" class="three-dots-icon">
          </ion-buttons>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>