<ion-header>
  <app-header [headerCustom]="headerCustom"></app-header>
</ion-header>

<ion-content>
  <div class="body">
    <ion-buttons class="date-list">
      <ion-buttons *ngFor="let d of dateList" class="date-item main-box-shadow active-effect"
        [ngClass]="{'active-date-item': dateItem.id == d.id}" (click)="changeDateItem(d)">
        <span class="date-text">{{ dateTimeService.VIETNAMESE_DAYS[d.date.getDay()].substring(0, 3) }}</span>
        <span>{{ d.date.getDate() }}</span>
        <span *ngIf="d.events.length" class="circle date-item-note" [style.background]="d.color"></span>
      </ion-buttons>
    </ion-buttons>

    <div class="body-header">
      <ion-label>{{ dateTimeService.getDateString3(dateItem.date) }}</ion-label>
      <ion-label *ngIf="dateItem.events.length" class="item-name">{{ dateItem.name }}</ion-label>
      <p class="event-text">{{ event.description }}</p>
      </div>
  </div>
</ion-content>